.register{
  display: grid;
  grid-template-columns: 1fr 1fr;
  &__title-container{
    padding: 4rem  0 0 5.625rem;
  }
  &__title__icon{
    position: absolute;
    top: 15px;
    left: -30px;
  }
  &__title{
    font-weight: 700;
    font-size: 2.1875rem;
    line-height: 3.25rem;
    color: var(--main-title-dark-blue);
    margin-bottom: 0px;
    position: relative;
  }
  &__paragraph{
    margin-bottom: 3.375rem;
  }
  &__card{
    width: 24.5rem;
    margin-inline: auto;
    background: #FFC600;
    border-radius: 50px;
    overflow: hidden;
    margin-bottom: 3rem;
    &__title{
      font-style: normal;
      font-weight: 400;
      font-size: 1.875rem;
      line-height: 2.8125rem;
      text-align: center;
      color: #000000;
      margin-top: 3.5rem;
      margin-bottom: 2.25rem;
    }
    &__image-container{
      width: 16.8125rem;
      height: 16.8125rem;
      margin-inline: auto;
      border: 14px solid #FFFFFF;
      overflow: hidden;
      border-radius: 100%;
      margin-bottom: 3.1875rem;
      background-color: #E7EFF5;
      position: relative;
      z-index: 1;
      &__image{
        width: 100%;
        height: auto;
        z-index: 1000;
      }
    }
    &__image-container::after{
      content: '';
      background: url('../../../../assets/user.png');
      background-repeat: no-repeat;
      background-position: center;
      inset: 0;
      position: absolute;
      z-index: -100;
    }

    &__input-label{
      background-color: white;
      width: 70%;
      font-style: normal;
      margin-bottom: 4.625rem;
      font-weight: 600;
      font-size: 0.875rem;
      line-height: 120%;
      color: #2C85BC;
      padding: 1.5rem;
      border-radius: 10px;
      margin-inline: auto;
      display: flex;
      justify-content: space-between;
      align-items: center;
      border: 1px dashed #9BB8D3;
    }
  }


  // Start form

  &__form{
    width: 21.8125rem;
    margin-top: 7rem;
    &__title{
      font-style: normal;
      font-weight: 400;
      font-size: 1.875rem;
      line-height: 3rem;
      color: #01426A;
    }
    &__paragraph{
      margin-bottom: 1.9375rem;
    }
    &__inputs-container{
      display: flex;
      flex-direction: column;
      gap: 2rem;
      &__name{
        width: 100%;
      }
      button{
        width: 222px;
        height: 50px;
        border: 0;
        margin-top: 2rem;
        margin-inline: 20%;
        background: #01426A;
        border-radius: 10px;
        font-weight: 600;
        font-size: 1.125rem;
        line-height: 1.375rem;
        text-align: center;
        color: #FFFFFF;
      }
      button:disabled{
        border: 0;
        background: #E6E6E6;
        color: #868686;
      }
    }
  }

}

.register__left-section{
  // background-color: gray;
}

.right-section{
  display: grid;
  place-items: center;
  // background-color: lightblue;
}

.span-block{
  display: block;
}


